html{
    font-family: "Segoe UI", Arial, sans-serif;
    background-color:#333;
    color:white;
    font-weight:normal;
    width:95%;
}

h1 {
    font-weight:normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    margin: 0;
    padding: 16px;
    text-align: center;
}

#nav{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 95%;
    margin: auto;
    border-radius: 7px 7px 1px 1px;
}

.active{
    background-color: #333;
}

.tab {
    float: left;
    display: block;
    text-align: center;
    text-size: 28px;
    margin: 0px;
    padding: 32px 0px;
    width: 50%;
}

.tab:not(.active){
    background-color: #009;
    border-radius: 7px 7px 1px 1px;
}

.tab:hover:not(.active){
    background-color: #006;
    border-radius: 7px 7px 0px 0px;
}

#mainView {
    clear: both;
    padding: 0 1em;
}

.Search{
    padding-bottom:10px;
}

.submit{
    padding-bottom:10px;
}
